@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
  }

  .category .wrapper {
    width: 33%;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.25rem;
  }

  div.logo img {
    height: auto;
    width: 90%;
  }

  .category .wrapper {
    width: 50%;
  }
  .category .wrapper .item h2 {
    font-size: 1.15rem;
  }

  .blackcover .product {
    position: relative;
  }
  .blackcover .product .item {
    float: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .blackcover .product .contained {
    float: none;
    width: 90%;
  }
  .blackcover .product .contained .button {
    font-size: 1rem;
    margin: 0.75rem 0;
  }
  .blackcover .product .contained span.social {
    width: 80%;
    margin: 0.5rem 0;
  }
}
