html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/stardust-background.png");
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  letter-spacing: 1.25px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 3.75rem;
  text-align: center;
  position: relative;
}
h1 img {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1rem;
}

a {
  color: green;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

div.logo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
div.logo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80%;
  width: auto;
  margin: auto;
}

#area {
  position: relative;
  width: 90%;
  margin: 5rem auto;
  top: 100%;
  margin-top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.85) 0 0 0.5rem;
}

.section {
  padding: 5rem 0;
  margin: 0;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0;
}

.container.disclaimer h1 {
  font-size: 1.5rem;
}
.container.disclaimer p {
  font-size: 0.85rem;
}

.category {
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.85) 0 0 0.5rem;
  background-color: #919191;
  position: relative;
}
.category .wrapper {
  width: 25%;
  box-sizing: border-box;
}
.category .wrapper .item {
  padding: 0.5rem 0;
  margin: 0.5rem;
  text-align: center;
  background-color: #ececec;
  -webkit-transition: box-shadow 0.25s ease-in;
  -moz-transition: box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
}
.category .wrapper .item img {
  width: 95%;
}
.category .wrapper .item h2 {
  margin: 0.25rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}
.category .wrapper .item h2:hover {
  text-decoration: underline;
}
.category .wrapper .item p {
  text-align: center;
  margin: 0.25rem;
  font-size: 0.825rem;
}
.category .wrapper .item:hover {
  box-shadow: rgba(0, 0, 0, 0.85) 0 0 0.75rem;
}

.blackcover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  z-index: -1;
}
.blackcover .product {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  margin: 5rem auto;
  padding: 2rem 3rem;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.85) 0 0 1rem;
  overflow-y: scroll;
  z-index: 5;
}
.blackcover .product .item {
  float: left;
  width: 40%;
  max-height: 80%;
  margin: 0 5%;
}
.blackcover .product .contained {
  padding: 2rem 0;
  width: 50%;
  float: right;
}
.blackcover .product .contained h1 {
  margin: 0;
  font-size: 3rem;
}
.blackcover .product .contained h2 {
  font-family: "Fredericka the Great", cursive;
  font-size: 1.5rem;
  margin: 0;
}
.blackcover .product .contained .button {
  margin: 1rem 0;
  color: black;
}
.blackcover .product .contained p {
  text-align: justify;
}
.blackcover .product .contained .progress, .blackcover .product .contained .progress-wrap, .blackcover .product .contained .progress-wrap .progress-bar {
  width: 100%;
  height: 50px;
}
.blackcover .product .contained .progress-wrap {
  display: inline-block;
  background-color: #3c8d0d;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.blackcover .product .contained .progress-wrap .progress-bar {
  background-color: #232323;
  position: absolute;
  top: 0;
  left: 0;
}
.blackcover .product span.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  font-size: 1.75rem;
}

.blackcover.on {
  opacity: 1;
  z-index: 4;
}

p.special {
  font-style: italic;
  font-size: 0.75rem;
}

.button {
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  padding: 1rem 4rem;
  background-color: transparent;
  border: 0.125rem solid #232323;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.button:hover {
  background-color: #3c8d0d;
  text-decoration: none;
}

#flake {
  z-index: -1;
}
